<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/styles.css">

    <title>Assist Me</title>
</head>

<body>
    
    <div>
        <nav class="navbar navbar-light bg-light">
            <div>
                <a class="navbar-brand" href="/">
                    <span><img src="../public/images/logo2.jpg" width="38" height="36" class="d-inline-block align-top"
                            alt=""></span>
                    <span class="asst"> Assist Me </span>
                </a>
            </div>

            <!-- <span class="navbar-text">
                <a href="studentsignup">Sign in</a>
            </span> -->

        </nav>
    </div>



    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0 home-img" src="../public/images/home.png"
                        alt="..." /></div>
                <div class="col-md-6">
                    <h1 class="display-5 fw-bolder heading">Assist Me</h1>

                    <p class="lead">A support system for students to clear their doubts with mentors</p>
                    <div class="d-flex">
                        <a class="home-btn" href="studentlogin">
                            <button class="btn  btn-outline-primary flex-shrink-0 " type="button">
                                <i class="bi-cart-fill me-1"></i>
                                Start using Assist Me
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>



</body>

</html>